/* Stylesheet for Odin Recipes Project*/

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size:100px;
    text-align: center;
}

.chickpic{
    height:auto;
    width:300px;
}

.chick {
    color:brown;
}

.guac {
    color:rgb(37, 201, 37);
    background-color:black;
}

.pico {
    color:red;
}